body
{
	background-color: #A9A9A9;
	text-align:center;
}
button
{
	color:red;
	background-color:yellow;
	border-radius:50px;
	width:100px;
	height:50px;
}
h1
{
	color:#000080;
	font-size:250%;
}
a
{
	color: #2E8B57; 
}
img
{
	margin:25px;
	border: 2px solid black;
	display:none;
}
